# SPDX-FileCopyrightText: 2015 - 2024 Rime community
#
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "OpenCC"]
	path = app/src/main/jni/OpenCC
	url = https://github.com/BYVoid/OpenCC.git
[submodule "yaml-cpp"]
	path = app/src/main/jni/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "snappy"]
	path = app/src/main/jni/librime-plugins/snappy
	url = https://github.com/google/snappy.git
[submodule "leveldb"]
	path = app/src/main/jni/librime-plugins/leveldb
	url = https://github.com/google/leveldb.git
[submodule "librime"]
	path = app/src/main/jni/librime
	url = https://github.com/Carlson24/librime-custom.git
	ignore = dirty
[submodule "librime-lua"]
	path = app/src/main/jni/librime-plugins/librime-lua
	url = https://github.com/hchunhui/librime-lua.git
	ignore = dirty
[submodule "librime-lua-deps"]
	path = app/src/main/jni/librime-plugins/librime-lua-deps
	url = https://github.com/hchunhui/librime-lua.git
	branch = thirdparty
	ignore = dirty
[submodule "librime-witogram"]
	path = app/src/main/jni/librime-plugins/librime-witogram
	url = https://github.com/levelel/librime-witogram.git
	ignore = dirty
[submodule "librime-calculator"]
	path = app/src/main/jni/librime-plugins/librime-calculator
	url = https://github.com/Carlson24/librime-calculator.git
[submodule "librime-user-predict"]
	path = app/src/main/jni/librime-plugins/librime-user-predict
	url = https://github.com/Carlson24/librime-user-predict
[submodule "sherpa-onnx"]
	path = app/src/main/jni/sherpa-onnx
	url = https://github.com/k2-fsa/sherpa-onnx.git
	ignore = dirty
[submodule "lua-utf8"]
	path = app/src/main/jni/librime-plugins/lua-utf8
	url = https://github.com/starwing/luautf8.git
[submodule "abseil-cpp"]
	path = app/src/main/jni/librime-plugins/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git

